.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  background-color: #F24822;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 50px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1rem;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.image {
  flex-basis: 50%;
}

.image img {
  max-width: 100%;
  height: auto;
}

.text {
  flex-basis: 50%;
  padding: 0 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}
